<div>
  <h1 class="font-bold text-4xl">Task Manager</h1>
  <div class="mt-4">
    <p>Retrieve task by ID</p>

    <div class="mb-4">
      <%= form_with url: all_tasks_path, method: :get do |form| %>
        <div class="flex flex-col. gap-2">
          <%= form.text_field :id, class: "border border-gray-400 py-2 px-4" %>
          <%= form.submit "Retrieve", class: "bg-gray-600 hover:bg-blue-700 text-white font-bold py-2 px-4" %>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col">
    <p class="mb-1">Retrieve all tasks</p>
      <%= link_to "Retrieve all tasks", all_tasks_path, class: "bg-gray-600 hover:bg-blue-700 text-white font-bold py-2 px-4" %>
    </div>
  </div>
</div>
