<div class="text-white. font-bold container mx-auto flex justify-center bg-gray-500. py-5 mb-4">
  <%= link_to root_path do %>
    <span class="text-3xl cursor-pointer"><i class="fa fa-home "></i></span>
  <% end %>
</div>
