<div class="font-bold container mx-auto grid grid-cols-2 items-center justify-between py-5 px-4 mb-4 border-b">
  <h1 class="font-bold. text-4xl font-semibold">Task Manager</h1>

  <%= link_to root_path do %>
    <%= image_tag "home.svg", alt: "Task Manager", class: "w-14 h-14" %>
  <% end %>
</div>
